@import "../../../assets/colors";

.emailText {
  border: 1px solid $medium;
  padding: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  max-width: 544px;
}
.emailTextDark{
  border-color: $gray;
  color: $white;
}

.forgotPassword {
  font-size: 16px;
  line-height: 20px;
  color: $secondary;
  font-weight: 400;
}
.darkThemeForgotPassword{
  color: $white;
}
.button {
  text-align: center;
  margin-top: 48px;
  width: 544px;
}
.singUp {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $gray;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  & span {
    color: $primary;
  }
}
.darkSingUp{
  color:$medium;
  & span {
    color: $primary-secondary;
  }
}
